{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Market</title>
    
        <div class="buttons">
            <a href="{% url 'cadastrar_pessoa_fisica' %}" class="btn">Pessoa Física</a>
            <a href="{% url 'cadastrar_pessoa_juridica' %}" class="btn">Pessoa Jurídica</a>
            <a href="{% url 'cadastrar_produto' %}" class="btn">Produto</a>
        </div>

</body>
</html>
