{% load static %}
<link rel="stylesheet" href="{% static 'css/prod.css' %}">

<body>

    <div class="lista-produtos">
        {% for produto in produtos %}
            <div class="card-produto">

                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" class="img-produto">
                {% else %}
                    <div class="sem-imagem">Sem imagem</div>
                {% endif %}

                <h3>{{ produto.nome }}</h3>
                <p class="descricao">{{ produto.descricao }}</p>
                <p class="preco">R$ {{ produto.preco }}</p>

            </div>
        {% endfor %}
    </div>
</body>
</html>
