<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produto</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Dados do Produto</legend>
                {{ produto_form.as_p }}
            </fieldset>

            <button type="submit">Salvar</button>
        </form>

        <a href="{% url 'index' %}">Voltar</a>
    </div>
</body>
</html>