.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: rgb(234, 97, 12);
}
.logo-text{
    font-size: 35px;
    font-weight: 500
}
.nav-itens{
    list-style: none;
    display: flex;
    gap: 25px;
}
.link-01{
    color: rgb(234, 97, 12);
    text-decoration: none;
    font-weight: 400;
}