.container-prod{
    padding: 20px;
}

/* Container dos cards */
.lista-produtos {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Card individual */
.card-produto {
    width: 260px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

/* Animação ao passar o mouse */
.card-produto:hover {
    transform: scale(1.05);
}

/* Imagem */
.img-produto {
    width: 100%;
    height: 200px;
    object-fit: cover;  /* corta a imagem bonitinho */
    border-radius: 8px;
}

/* Quando não tem imagem */
.sem-imagem {
    width: 100%;
    height: 200px;
    background: whitesmoke;
    border-radius: 8px;
    display: flex;
}

/* Nome */
.card-produto h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: rgb(234, 97, 12)
}

/* Descrição */
.card-produto .descricao {
    font-size: 14px;
    color: #555;
}

/* Preço */
.card-produto .preco {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(107, 107, 107);
    font-size: 18px;
}
